.NotesGroup{
    display: flex;
    /* center */
    justify-content: center;
    align-items: center;
    width: "31vw";
      padding: 5% 0.9% 4% 5%;
}

.NotesName{
    color: #000;
    font-family: Roboto;
    font-size: 1.29188rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02581rem;

    /* space */
    position: relative;
    left: 5px;
}