.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}


img{
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none;  
  -o-user-drag: none; 
}

button{
  cursor: pointer;
}